body {
  background: linear-gradient(135deg, #a0d8ef 0%, #f0f9ff 100%); /* 하늘색 위주의 그라데이션 */
  color: #333;
  font-family: 'Poppins', sans-serif; /* 현대적인 글꼴 사용 */
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px; /* 둥근 모서리 효과 */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* 깊이를 위한 그림자 */
  animation: fadeIn 1s ease-in; /* 느린 애니메이션 추가 */
  font-size: 18px; /* 전체적인 글씨 크기 증가 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2, h3 {
  text-align: center;
  color: #007BFF;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 2px solid #007BFF;
  border-radius: 15px; /* 캔버스의 둥근 테두리 */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* 깊이를 위한 그림자 */
}

.styled-button {
  background-color: #af4c4c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; /* 버튼 글씨 크기 증가 */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.styled-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button-3d {
  background: linear-gradient(145deg, #0061ff, #0091ff);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 30px; /* 둥근 버튼 */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease; /* 느린 애니메이션 추가 */
}

.button-3d:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.button-3d:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.button-3d a {
  color: white;
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color 0.5s ease; /* 느린 애니메이션 추가 */
}

input:focus {
  border-color: #007BFF; /* 포커스 시 테두리 색상 변경 */
}

td {
  padding: 10px;
}

td label {
  text-align: right;
  font-size: 20px; /* 레이블 글씨 크기 증가 */
}

td input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px; /* 입력란 글씨 크기 증가 */
  outline: none; /* 클릭 시 검은 테두리 제거 */
}
